<div>
    <button class="btn btn-outline-primary me-3" (click)="get400Error()">get400Error</button>
    <button class="btn btn-outline-primary me-3" (click)="get401Error()">get401Error</button>
    <button class="btn btn-outline-primary me-3" (click)="get404Error()">get404Error</button>
    <button class="btn btn-outline-primary me-3" (click)="get500Error()">get500Error</button>
    <button class="btn btn-outline-primary me-3" (click)="get400ValidationError()">get400ValidationError</button>

    @if(validationErrors.length > 0){
        <div class="row mt-5">
            <ul class="text-danger">
                @for(error of validationErrors; track $index){
                    <li>{{error}}</li>
                }
            </ul>
        </div>
    }
</div>
